<%- include ("partials/header.ejs") %>

<div class="box" id="heading">
    <h1>
        <%= new Date().toLocaleString('en-US', {
            year: 'numeric',
            month: 'short',
            day: 'numeric'
        }); %>
    </h1>
    <small class="text-muted">My Tasks For Today</small>
</div>



<div class = "box">
    <form class="items" action="/submit" method="POST">
        <div class="input-group">
            <input type="text" class="form-control" name="newItem" placeholder="New Item" autocomplete="off" autofocus="true"> 
            <button type="submit" class="btn btn-primary">Add Task</button>
        </div>
        
    </form>
    <% if (locals.listItems) { %>
        <% listItems.forEach(item => { %>
            <% if (item) { %>
            <div class = "item">
                <form action="/delete" method="post">
                    <input type="checkbox" onchange="this.form.submit()" name="deleteItemId" >
                </form>
                <p id ="title">
                    <%= item %>
                </p>
                <form class="edit" action="/edit" method="post">
                    <button id="done" class="edit" type="submit"><img class="icon"
                        src="/assets/icons/pencil-solid.svg" alt="tick image"></button>  
                </form>
            </div>
            <% } %>
        <% }); %>
    <% } %>
    
</div>











<%- include ("partials/footer.ejs") %>
